<h2 id='title'>{{#link-to 'index' class='brand'}}Address book app!{{/link-to}}</h2>

<div class="container-fluid">
  <div class="row-fuid">
    <div class="col-md-2">
      <div class="navbar">
        <div class="navbar-inner">
            <ul class="nav">
                <li>{{#link-to 'contacts'}}contacts{{/link-to}}</li>
                <li>{{#link-to 'favorites'}}favorites{{/link-to}}</li>
            </ul>
        </div>
      </div>
    </div>
    <div class="col-md-10">
        {{outlet}}
    </div>
  </div>
</div>

